[submodule "game_engine/vendor/spdlog"]
	path = game_engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "game_engine/vendor/GLFW"]
	path = game_engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
